<!DOCTYPE html>
<html>
  <head>
    <title>DOCS</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <label>Meteorology</label>
    <h3>made by: abdul sameer</h3>
    <input type="text" id="input-box" placeholder="enter your city">
    <div id="box">
       <div class="info">
         <div id="city">
          <i class="ri-user-location-line"></i> <h2 class="location"></h2>
         </div> 
        <p id="date">_|_|_</p>
        <div class="tempcover">
          <h4>Temp:</h4>
          <h1 id="temp">_</h1>
          <h5>°C</h5>
        </div>   
        <div class="temps">
           <h4>Max:</h4>
           <h1 id="max">_</h1>
           <h5>°C</h5>
           <h4>Min:</h4>
           <h1 id="min">_</h1>
           <h5>°C</h5>
        </div>
          <div id="nature">Weather: <span id="natures"></span></div>
       </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../javascripts/script.js"></script>
  </body>
</html>
